# .gitignore

# Python virtual environment
.venv/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Training checkpoints
checkpoints/
