<!-- claw.urdf -->
<robot name="planar_claw" version="1.2">

    <!-- Both fingers of the claw have the same fixed base -->
    <link name="base_link"/>

    <!-- Left finger -->

    <joint name="left_joint_1" type="revolute">
        <parent link="base_link"/>
        <child link="left_link_1"/>
        <origin xyz="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="10" velocity="2"/>
    </joint>

    <link name="left_link_1">
        <visual>
            <origin xyz="-0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="-0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </collision>
    </link>

    <joint name="left_joint_2" type="revolute">
        <parent link="left_link_1"/>
        <child link="left_link_2"/>
        <origin xyz="-0.10 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="10" velocity="2"/>
    </joint>

    <link name="left_link_2">
        <visual>
            <origin xyz="-0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="-0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </collision>
    </link>

    <joint name="left_joint_3" type="revolute">
        <parent link="left_link_2"/>
        <child link="left_link_3"/>
        <origin xyz="-0.10 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="10" velocity="2"/>
    </joint>

    <link name="left_link_3">
        <visual>
            <origin xyz="-0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="-0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </collision>
    </link>

    <!-- Right finger -->

    <joint name="right_joint_1" type="revolute">
        <parent link="base_link"/>
        <child link="right_link_1"/>
        <origin xyz="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="10" velocity="2"/>
    </joint>

    <link name="right_link_1">
        <visual>
            <origin xyz="0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </collision>
    </link>

    <joint name="right_joint_2" type="revolute">
        <parent link="right_link_1"/>
        <child link="right_link_2"/>
        <origin xyz="0.10 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="10" velocity="2"/>
    </joint>

    <link name="right_link_2">
        <visual>
            <origin xyz="0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </collision>
    </link>

    <joint name="right_joint_3" type="revolute">
        <parent link="right_link_2"/>
        <child link="right_link_3"/>
        <origin xyz="0.10 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="10" velocity="2"/>
    </joint>

    <link name="right_link_3">
        <visual>
            <origin xyz="0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.05 0 0"/>
            <geometry>
                <box size="0.10 0.02 0.02"/>
            </geometry>
        </collision>
    </link>

</robot>